.section__heading {
	font-weight: 400;
	font-size: 24px;
	line-height: 1.5;
	color: var(--typo-primary);
}

.recommendSection__heading {
	margin-bottom: 24px;
}

.waySection__heading {
	margin-right: 11px;
	margin-bottom: 0;
}
