:root {
	--bg-default: #ffffff;
	--bg-secondary: #ecf1f4;
	--bg-border: rgba(0, 65, 102, 0.2);
	--bg-success: #24c38e;
	--bg-stripe: rgba(0, 32, 51, 0.05);
	--bg-ghost: rgba(0, 32, 51, 0.08);
	--typo-primary: #002033;
	--typo-secondary: rgba(0, 32, 51, 0.6);
	--typo-link: #0078d2;
	--control-default-typo: #002033;
	--control-primary-bg: #0078d2;
	--control-primary-typo: #ffffff;
	--control-secondary-bg: #0078d2;
	--control-secondary-typo: #0078d2;
	--control-ghost-bg: rgba(0, 66, 105, 0.07);
	--control-ghost-typo: rgba(0, 57, 92, 0.8);
}
